.contanier {
  padding: 70px 0px;
  width: 40%;
  height: auto;
  margin: 0px auto;
  /* border: 3px solid red; */
  margin-top: 120px;
}

.contanier h1 {
  text-align: center;
}

label {
  display: block;
}

button {
  background-color: #4caf50;
  width: 100%;
  color: orange;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
}
form {
  border: 3px solid #f1f1f1;
}
input[type="email"],
input[type="password"] {
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid green;
  box-sizing: border-box;
}
button:hover {
  opacity: 0.7;
}

.continerWrapper {
}
