body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dddddd;
  color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  color: #ffffff;
}

a{
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

a:hover{
  color: #c0c0c0;
}

.nav{
  text-align: center;
  width: 100%;
  background: #282c34;
  padding: 10px;
  display: grid;
  grid-template-columns: 100px 130px 100px auto;

}

.nav p{
 justify-self: right;
 padding: 0 20px 0 0;
}


.login{
  display: grid;
  grid-template-rows: auto;
  grid-row: 30px;
width: 100%;}

.login input{
  width: 300px;
  padding: 10px;
  justify-self: center;
  margin: 10px 0;
}

.login button{
  width: 150px;
  justify-self: center;
  padding: 10px;
  font-size: 16px;
}